<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>添加网站</legend>
            <div class="control-group">
                <label class="control-label" for="name">网站名称</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name" value="">
                    <p class="help-block">输入网站名称</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domain">网站域名</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="domain" name="domain" value="">
                    <p class="help-block">输入网站域名<b>(不含http://)</b>，系统中不能重复</b></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="path">网站目录</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="path" name="path">
                    <p class="help-block">输入网站的目录名称，系统中不能重复</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ip">网站IP</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="ip" name="ip">
                    <p class="help-block">输入网站的IP地址，默认为空</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type">网站类别</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="type" name="type">
                    <p class="help-block">选择网站所属的类别</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="keyword">关键词</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="keyword" name="keyword" value="">
                    <p class="help-block">网站的关键词,以逗号,隔开</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">网站描述</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="description" name="description" rows="4"></textarea>
                    <p class="help-block">网站的描述信息</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="urltype">URL风格</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="urltype" name="urltype" value="">
                    <p class="help-block">网站URL风格参数(id,py,abbr,cn)任选一</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template">模板风格</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="template" name="template" value="default">
                    <p class="help-block">网站模板名称</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="advertment">广告代码</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="advertment" name="advertment" rows="4"></textarea>
                    <p class="help-block">网站全局广告代码</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="founded">创建时间</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="founded" name="founded" value="">
                    <p class="help-block">网站的创建时间</p>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn">取消</button>
            </div>
        </fieldset>
    </form>
</div>
