<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <% if(site.name){ %>
            <legend>修改网站</legend>
            <% }else{ %>
            <legend>添加网站</legend>
            <% } %>
            <div class="control-group">
                <label class="control-label" for="name">网站名称</label>

                <div class="controls">
                    <% if(site.name){ %>
                    <input type="text" class="input-xlarge" id="name" name="name" value="<%= site.name %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="name" name="name">
                    <% } %>
                    <p class="help-block">输入网站名称</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domain">网站域名</label>

                <div class="controls">
                    <% if(site.domain){ %>
                    <input type="text" class="input-xlarge" id="domain" name="domain" origin="<%= site.domain %>"
                           value="<%= site.domain %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="domain" name="domain">
                    <% } %>
                    <p class="help-block">输入网站域名<b>(不含http://)</b>，系统中不能重复</b></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="path">网站目录</label>

                <div class="controls">
                    <% if(site.path){ %>
                    <input type="text" class="input-xlarge" id="path" origin="<%= site.path %>" name="path" value
                            ="<%= site.path %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="path" name="path">
                    <% } %>
                    <p class="help-block">输入网站的目录名称，系统中不能重复</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="ip">网站IP</label>

                <div class="controls">
                    <% if(site.ip){ %>
                    <input type="text" class="input-xlarge" id="ip" name="ip" value="<%= site.ip %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="ip" name="ip">
                    <% } %>
                    <p class="help-block">输入网站的IP地址，默认为空</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type">网站类别</label>

                <div class="controls">
                    <select name="type">
                        <% types.forEach(function(type){ %>
                        <option value="<%= type._id %>"<% if(type._id.toString() == site.type){ %> selected<% }
                        %>><%= type.name %></option>
                        <% }) %>
                    </select>

                    <p class="help-block">选择网站所属的类别</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="keyword">关键词</label>

                <div class="controls">
                    <% if(site.keyword){ %>
                    <input type="text" class="input-xlarge" id="keyword" name="keyword" value="<%= site.keyword %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="keyword" name="keyword">
                    <% } %>
                    <p class="help-block">网站的关键词,以逗号,隔开</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">网站描述</label>

                <div class="controls">
                    <% if(site.description){ %>
                    <textarea class="input-xlarge" id="description" name="description" rows="4"><%= site.description %></textarea>
                    <% }else{ %>
                    <textarea class="input-xlarge" id="description" name="description" rows="4"></textarea>
                    <% } %>
                    <p class="help-block">网站的描述信息</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="urltype">URL风格</label>

                <div class="controls">
                    <% if(site.urltype){ %>
                    <input type="text" class="input-xlarge" id="urltype" name="urltype" value="<%= site.urltype %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="urltype" name="urltype">
                    <% } %>
                    <p class="help-block">网站URL风格参数(id,py,abbr,cn)任选一</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template">模板风格</label>

                <div class="controls">
                    <% if(site.template){ %>
                    <input type="text" class="input-xlarge" id="template" name="template" value="<%= site.template %>">
                    <% }else{ %>
                    <input type="text" class="input-xlarge" id="template" name="template">
                    <% } %>
                    <p class="help-block">网站模板名称</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="advertment">广告代码</label>

                <div class="controls">
                    <% if(site.advertment){ %>
                    <textarea class="input-xlarge" id="advertment" name="advertment" rows="4"><%= site.advertment
                        %></textarea>
                    <% }else{ %>
                    <textarea class="input-xlarge" id="advertment" name="advertment" rows="4"></textarea>
                    <% } %>
                    <p class="help-block">网站全局广告代码</p>
                </div>
            </div>
            <div class="form-actions">
                <% if(site._id){ %>
                <input type="hidden" name="id" value="<%= site._id %>"/>
                <% } %>
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn">取消</button>
            </div>
        </fieldset>
    </form>
</div>
<script>
$(function () {
    $('#domain').change(function(){
        var domain = $('#domain').val();
        if (domain === '' || ($('#domain').attr('origin') === domain)) return false;
        domain = domain.replace('http://', '').replace(/\/.*/, '');
        if ($('#domain').val() !== domain) {
            $('#domain').val(domain);
        }

        $.get('/site/check', {type: 'domain', value: domain}, function(result){
            if (result.exists) {
                alert('该域名已经存在！');
                $('#domain').focus().val('');
            }
        });
    });

    $('#path').change(function(){
        var path = $('#path').val();
        if (path === '' || ($('#path').attr('origin') === path)) return false;

        $.get('/site/check', {type: 'path', value: path}, function(result){
            if (result.exists) {
                alert('该目录已经被其他网站占用！');
                $('#path').focus().val('');
            }
        });
    });
});
</script>
