<h2>男科列表</h2>
<div class="row">

</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>网站名称</th>
        <th>域名</th>
        <th>IP</th>
        <th>目录</th>
        <th>类别</th>
        <th>模板风格</th>
        <th>URL风格</th>
        <th>内容总数</th>
        <th>待发布</th>
        <th>更新频率</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% sites.forEach(function(site){ %>
    <tr>
        <td><%= site.name %></td>
        <td><a href="<%= site.domain %>" target="_blank"><%= site.domain %></a></td>
        <td><%= site.ip %></td>
        <td><%= site.path %></td>
        <td><a href="<%= site.domain %>" target="_blank"><%= site.domain %></a></td>
        <td><%= site.template %></td>
        <td><%= site.urltype %></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td><%= site.founded %></td>
        <td>
            <button rel="detail" class="btn">详情</button>
            <button rel="edit" class="btn">修改</button>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>

