<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <% types.forEach(function(type){ %>
                <li class="nav-header"><%= type.name %></li>
                <% sitesByType[type._id].forEach(function(site){ %>
                <li><a href="/site/detail/<%= site._id %>"><%= site.name %></a></li>
                <% }); %>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="span10">
        <h2>网站列表</h2>
        <ul id="tab" class="nav nav-tabs">
            <% if(curtype){ %>
            <li><a href="/site/list/">全部</a></li>
            <% }else{ %>
            <li class="active"><a href="/site/list/">全部</a></li>
            <% }%>

            <% types.forEach(function(type){ %>
            <% if(curtype == type._id){ %>
            <li class="active"><a href="/site/list/<%= type._id %>"><%= type.name %></a></li>
            <% }else{ %>
            <li><a href="/site/list/<%= type._id %>"><%= type.name %></a></li>
            <% }%>
            <% }); %>
        </ul>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>网站名称</th>
                <th>域名</th>
                <th>IP</th>
                <th>目录</th>
                <th>类别</th>
                <th>模板风格</th>
                <th>URL风格</th>
                <th>内容总数</th>
                <th>待发布</th>
                <th>更新频率</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% sites.forEach(function(site){ %>
            <tr>
                <td><%= site.name %></td>
                <td><a href="http://<%= site.domain %>" target="_blank"><%= site.domain %></a></td>
                <td><%= site.ip %></td>
                <td><%= site.path %></td>
                <td><%= typeos[site.type]['name'] %></td>
                <td><%= site.template %></td>
                <td><%= site.urltype %></td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><%= site.founded %></td>
                <td>
                    <a href="/site/detail/<%= site._id %>" class="btn">详情</a>
                    <a href="/site/edit/<%= site._id %>" class="btn">修改</a>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>


