<h3>站点：<%= site.name %></h3>
<ul id="tab" class="nav nav-tabs">
  <li><a href="./">概况</a></li>
  <li><a href="./article">文章</a></li>
  <li><a href="./category">栏目</a></li>
  <li class="active"><a href="./tag">标签</a></li>
  <li><a href="./setting">站点配置</a></li>
  <li><a href="./publish">发布配置</a></li>
</ul>
<div class="row">
  <div class="span8">
    <a id="add-btn" class="btn btn-primary">添加标签</a>
    <a id="cache-btn" class="btn btn-primary">缓存标签</a>
  </div>
  <div class="span4">
    <form class="form-search" method="post" action="/tag/search/">
      <input type="text" class="input-medium span3" name="name">
      <button type="button" class="btn btn-primary">搜索</button>
    </form>
  </div>
</div>
<h3>标签列表(<%= tags.length %>条)</h3>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>标签名称</th>
    <th>url</th>
    <th>外部链接</th>
    <th>关键词/描述</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% tags.forEach(function(tag){ %>
  <tr id="<%= tag._id %>">
    <td><a href="<%= util.url(site.domain, '/tag/' + tag.url) %>" rel="popover" data-content="<%= tag.title %>"
           data-original-title="<%= tag._id %>" target="_blank"><%= tag.name %></a></td>
    <td><%= tag.url %></td>
    <td><%= tag.external %></td>
    <td>
      <span class="label" data-original-title="关键词" data-content="<%= tag.keyword %>">关键词</span>
      <span class="label" data-original-title="描述" data-content="<%= tag.description %>">描述</span>
    </td>
    <td>
      <button rel="edit" class="btn btn-mini">修改</button>
      <button rel="delete" class="btn btn-mini">删除</button>
    </td>
  </tr>
  <% }); %>
  </tbody>
</table>
<div id="form-modal" class="modal hide">
  <form id="form" method="post" class="form-horizontal" style="margin: 0">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>

      <h3 id="form-title">添加标签</h3>
    </div>
    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="name">标签名字</label>

          <div class="controls">
            <input type="text" class="input-xlarge" id="name" name="name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="title">标签标题</label>

          <div class="controls">
            <input type="text" class="input-xlarge" id="title" name="title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="url">URL</label>

          <div class="controls">
            <input type="text" class="input-xlarge" id="url" name="url">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="external">外部URL</label>

          <div class="controls">
            <input type="text" class="input-xlarge" id="external" name="external">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="keyword">关键词</label>

          <div class="controls">
            <input type="text" class="input-xlarge" id="keyword" name="keyword">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">描述</label>

          <div class="controls">
            <textarea class="input-xlarge" id="description" name="description" rows="3"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </form>
</div>
<div id="delete-form-modal" class="modal hide">
  <form method="post" style="margin: 0">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" id="delete-id" name="id" value="0">

    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>

      <h3>删除栏目</h3>
    </div>
    <div class="modal-body">
      <p>你确定删除标签: <span id="delete-name" class="label label-warning">???</span></p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">取消</button>
      <button type="submit" class="btn btn-primary">确认</button>
    </div>
  </form>
</div>
<script type="text/javascript">
$(function () {
  $('a[rel=popover], .label').popover();

  var showForm = function (item) {
    if (item._id) {
      $('#form').prepend('<input type="hidden" name="_method" value="put">');
      $('#form').prepend('<input type="hidden" name="id" value="' + item._id + '">');
      $('#form-title').text('修改标签 - ' + item.name);
      $('#name').val(item.name);
      $('#title').val(item.title);
      $('#url').val(item.url);
      $('#external').val(item.external);
      $('#keyword').val(item.keyword);
      $('#description').val(item.description);
    } else {
      $("#form input[type='hidden']").remove();
      $('#form-title').text('添加标签');
      $('#form').get(0).reset();
    }

    $('#form-modal').modal({backdrop: false});
  };

  $('#add-btn').click(function () {
    showForm({});
  });

  $("button[rel=edit]").click(function () {
    var id = $(this).parents('tr').attr('id');
    showForm(model[id]);
  });

  $("button[rel=delete]").click(function () {
    var id = $(this).parents('tr').attr('id');
    $('#delete-name').text($('#' + id + ' a').text());
    $('#delete-id').val(id);
    $('#delete-form-modal').modal();
  });

  var model = <%- JSON.stringify(tagos) %>;
});
</script>